

*{margin:0;padding:0}

/* default section column(sc) for large device(ld) badge 100% */
.d-s-c-ld-1{width:8.333334%}
.d-s-c-ld-2{width:16.666667%}
.d-s-c-ld-3{width:25%}
.d-s-c-ld-4{width:33.333334%}
.d-s-c-ld-5{width:41.666667%}
.d-s-c-ld-6{width:50%}
.d-s-c-ld-7{width:58.333334%}
.d-s-c-ld-8{width:66.666667%}
.d-s-c-ld-9{width:75%}
.d-s-c-ld-10{width:83.333334%}
.d-s-c-ld-11{width:91.666667%}
.d-s-c-ld-12{width:100%}

/* section column extra property */
.d-s-c-ld-1,.d-s-c-ld-10,.d-s-c-ld-11,.d-s-c-ld-12,.d-s-c-ld-2,.d-s-c-ld-3,.d-s-c-ld-4,.d-s-c-ld-5,.d-s-c-ld-6,.d-s-c-ld-7,.d-s-c-ld-8,.d-s-c-ld-9{
    float:left;
    padding-left:15px;
    padding-right:15px;
    box-sizing:border-box;
}


/* default section column(sc) for large device(sd) badge 100% */
.d-s-c-sm-1{width:9.0909%}

/* section column extra property */
.d-s-c-sm-1,.d-s-c-sm-10,.d-s-c-sm-11,.d-s-c-sm-12,.d-s-c-sm-2,.d-s-c-sm-3,.d-s-c-sm-4,.d-s-c-sm-5,.d-s-c-sm-6,.d-s-c-sm-7,.d-s-c-sm-8,.d-s-c-sm-9{
    float:left;
    padding-left:15px;
    padding-right:15px;
    box-sizing:border-box;
}

.row::after{content:"";display:table;clear:both;}
/* default margin top */
.d-m-t-1{margin-top:1em}
.d-m-t-2{margin-top:2em}
.d-m-t-3{margin-top:3em} 
.d-m-t-4{margin-top:4em}
.d-m-t-5{margin-top:5em}
.d-m-t-6{margin-top:6em}
.d-m-t-7{margin-top:7em}
.d-m-t-8{margin-top:8em}
.d-m-t-9{margin-top:9em}
.d-m-t-10{margin-top:10em}
.d-m-t-11{margin-top:11em}
.d-m-t-12{margin-top:12em}
.d-m-t-13{margin-top:13em}
.d-m-t-14{margin-top:14em}
.d-m-t-15{margin-top:15em}
.d-m-t-16{margin-top:16em}
.d-m-t-17{margin-top:17em}
.d-m-t-18{margin-top:18em}
.d-m-t-19{margin-top:19em}
.d-m-t-20{margin-top:20em}
.d-m-t-21{margin-top:21em}
.d-m-t-22{margin-top:22em}
.d-m-t-23{margin-top:23em}

/* bottom margin */
.d-m-b-1{margin-bottom:1em}
.d-m-b-2{margin-bottom:2em}
.d-m-b-3{margin-bottom:3em}
.d-m-b-4{margin-bottom:4em}
.d-m-b-5{margin-bottom:5em}
.d-m-b-6{margin-bottom:6em}
.d-m-b-7{margin-bottom:7em}
.d-m-b-8{margin-bottom:8em}
.d-m-b-9{margin-bottom:9em}
.d-m-b-10{margin-bottom:10em}
.d-m-b-11{margin-bottom:11em}

/* left margin */
.d-m-l-1{margin-left:1em}
.d-m-l-2{margin-left:2em}
.d-m-l-3{margin-left:3em}
.d-m-l-4{margin-left:4em}
.d-m-l-5{margin-left:5em}
.d-m-l-6{margin-left:6em}
.d-m-l-7{margin-left:7em}
.d-m-l-8{margin-left:8em}
.d-m-l-9{margin-left:9em}
.d-m-l-10{margin-left:10em}
.d-m-l-11{margin-left:11em}
.d-m-l-12{margin-left:12em}
.d-m-l-13{margin-left:13em}
.d-m-l-14{margin-left:14em}
.d-m-l-15{margin-left:15em}
.d-m-l-16{margin-left:16em}
.d-m-l-17{margin-left:17em}
.d-m-l-18{margin-left:18em}
.d-m-l-19{margin-left:19em}
.d-m-l-20{margin-left:20em}
.d-m-l-21{margin-left:21em}
.d-m-l-22{margin-left:22em}
.d-m-l-23{margin-left:23em}

/* right margin */
.d-m-r-1{margin-right:1em}
.d-m-r-2{margin-right:2em}
.d-m-r-3{margin-right:3em}
.d-m-r-4{margin-right:4em}
.d-m-r-5{margin-right:5em}
.d-m-r-6{margin-right:6em}
.d-m-r-7{margin-right:7em}
.d-m-r-8{margin-right:8em}
.d-m-r-9{margin-right:9em}
.d-m-r-10{margin-right:10em}
.d-m-r-11{margin-right:11em}
.d-m-r-12{margin-right:12em}
.d-m-r-13{margin-right:13em}
.d-m-r-14{margin-right:14em}
.d-m-r-15{margin-right:15em}
.d-m-r-16{margin-right:16em}
.d-m-r-17{margin-right:17em}
.d-m-r-18{margin-right:18em}
.d-m-r-19{margin-right:19em}
.d-m-r-20{margin-right:20em}
.d-m-r-21{margin-right:21em}
.d-m-r-22{margin-right:22em}
.d-m-r-23{margin-right:23em}
.d-m-r-24{margin-right:24em}
.d-m-r-25{margin-right:25em}
.d-m-r-26{margin-right:26em}
.d-m-r-27{margin-right:27em}
.d-m-r-28{margin-right:28em}
.d-m-r-29{margin-right:29em}
.d-m-r-30{margin-right:30em}

/* default padding top */
.d-p-t-1{padding-top:1em}
.d-p-t-2{padding-top:2em}
.d-p-t-3{padding-top:3em}
.d-p-t-4{padding-top:4em}
.d-p-t-5{padding-top:5em}
.d-p-t-6{padding-top:6em}
.d-p-t-7{padding-top:7em}
.d-p-t-8{padding-top:8em}
.d-p-t-9{padding-top:9em}
.d-p-t-10{padding-top:10em}
.d-p-t-11{padding-top:11em}
.d-p-t-12{padding-top:12em}
.d-p-t-13{padding-top:13em}
.d-p-t-14{padding-top:14em}
.d-p-t-15{padding-top:15em}
.d-p-t-16{padding-top:16em}
.d-p-t-17{padding-top:17em}
.d-p-t-18{padding-top:18em}
.d-p-t-19{padding-top:19em}
.d-p-t-20{padding-top:20em}
.d-p-t-21{padding-top:21em}
.d-p-t-22{padding-top:22em}
.d-p-t-23{padding-top:23em}
.d-p-t-24{padding-top:24em}
.d-p-t-25{padding-top:25em}

/* bottom padding */
.d-p-b-1{padding-bottom:1em}
.d-p-b-2{padding-bottom:2em}
.d-p-b-3{padding-bottom:3em}
.d-p-b-4{padding-bottom:4em}
.d-p-b-5{padding-bottom:5em}
.d-p-b-6{padding-bottom:15em}

/* left padding */
.d-p-l-1{padding-left:1em}
.d-p-l-2{padding-left:2em}
.d-p-l-3{padding-left:3em}
.d-p-l-4{padding-left:4em}
.d-p-l-5{padding-left:5em}
.d-p-l-6{padding-left:6em}
.d-p-l-7{padding-left:7em}
.d-p-l-8{padding-left:8em}
.d-p-l-9{padding-left:9em}
.d-p-l-10{padding-left:10em}
.d-p-l-11{padding-left:11em}
.d-p-l-12{padding-left:12em}
.d-p-l-13{padding-left:13em}
.d-p-l-14{padding-left:14em}
.d-p-l-15{padding-left:15em}
.d-p-l-16{padding-left:16em}
.d-p-l-17{padding-left:17em}
.d-p-l-18{padding-left:18em}
.d-p-l-19{padding-left:19em}
.d-p-l-20{padding-left:20em}

/* right padding */
.d-p-r-1{padding-right:1em}
.d-p-r-2{padding-right:2em}
.d-p-r-3{padding-right:3em}
.d-p-r-4{padding-right:4em}
.d-p-r-5{padding-right:5em}
.d-p-r-6{padding-right:6em}
.d-p-r-7{padding-right:7em}
.d-p-r-8{padding-right:8em}
.d-p-r-9{padding-right:9em}
.d-p-r-10{padding-right:10em}
.d-p-r-11{padding-right:11em}
.d-p-r-12{padding-right:12em}
.d-p-r-13{padding-right:13em}
.d-p-r-14{padding-right:14em}
.d-p-r-15{padding-right:15em}
.d-p-r-16{padding-right:16em}
.d-p-r-17{padding-right:17em}
.d-p-r-18{padding-right:18em}
.d-p-r-29{padding-right:19em}
.d-p-r-20{padding-right:20em}
.d-p-r-21{padding-right:21em}
.d-p-r-22{padding-right:22em}
.d-p-r-23{padding-right:23em}
.d-p-r-24{padding-right:24em}
.d-p-r-25{padding-right:25em}
.d-p-r-26{padding-right:26em}
.d-p-r-27{padding-right:27em}
.d-p-r-28{padding-right:28em}
.d-p-r-29{padding-right:29em}
.d-p-r-30{padding-right:30em}

/* default content alignment */
.d-con-center{text-align:center}
.d-con-left{text-align:left}
.d-con-right{text-align:right}
.d-con-justify{text-align:justify}
.d-con-bottom{text-align:bottom}
.d-content{font-size:18px}
.d-content_1{font-size:20px}
.d-content_2{font-size:25px}
/* middle container */

/* default text fromating */
.d-text-primary{color:darkblue}
.d-text-yellow{color:#b0b01c}
.d-text-yellow-1{color:#00AFF0}
.d-text-white{color:#fff}
.d-text-black{color:#000}
.d-text-red{color:#ff0000}
.d-text-bold{font-weight:bold}
.d-text-upper{text-transform:uppercase}
.d-text-heading{color:#2C5F8A}