/*
==========================================
    Google Fonts
==========================================
*/
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700|Poppins:300,400,500,600,700');
 body {
    /* background-color: rgb(243, 243, 243); */
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	font-style: normal;
}
/* font-family: 'Oswald', sans-serif; */
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
.button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	color: #2B96CC;
	text-decoration: none;
}
a,
button {
	color: #1696e7;
	outline: medium none;
}
a{
    text-decoration: none;
}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	color: #313131;
	margin-top: 0px;
	font-style: normal;
	font-weight: 400;
	text-transform: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
	font-weight: 500;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
    
}
li {
	list-style: none
}
p {
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	color: #7e7e7e;
	margin-bottom: 15px;
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: #d6b161;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-moz-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
.section-padding-top{
    padding-top: 60px;
}
.section-padding-bottom{
    padding-bottom: 60px;
}
/*
==========================================
    Header
==========================================
*/
.header-area {
    background: #263238;
    padding: 23px 0px;
}
.header-logo{}
.header-logo img {
    width: 200px;
    height: 60px;
}
.header-menu{
    height: 60px;
}
.header-menu ul{}
.header-menu ul li{
    display: inline-block;
    margin-right: 10px;
}
.header-menu ul li:last-child{
    margin-right: 0px;
}
.header-menu ul li a {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}
.header-menu ul li a:hover{}
.header-right-btn {
    background: #990000;
    border-radius: 12px;
    width: 100%;
    text-align: center;
    height: 60px;
}
a.header-btn {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    line-height: 60px;
}
.header-btn:hover{

}
/*
==========================================
    Banner Area Css
==========================================
*/
.banner-area {
    background: #263238;
    padding: 60px 0px;
}
.banner-left-side{}
.banner-content{}
.banner-title{}
.banner-title h4{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}
.banner-head{}
.banner-head h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 46px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
}
.banner-head h1 {
    
}
.banner-description{}
.banner-description p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 25px;
    margin-bottom: 50px;
}
.banner-btn-group{}
.banner-btn-one {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 10px 35px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    display: inline-block;
}
.banner-btn-two{}
.banner-right-side{}
.banner-image{}
.banner-image img{}
/*
==========================================
    Area Css
==========================================
*/